div img{
    height: 300px;
    width: 248px;
    border-radius: 3px;
    align-self: center;
}
div button{
    margin-top: 3px;
    width: 170px;
}
div.card{
    padding: 2px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}
div.card:hover{
    transition: 0.3s ease-in-out;
}
.col-img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.flex-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.d-f{
    display: flex;
    flex-direction: column;
}
textarea{
    resize: none;
    width: 355px;
    height: 200px;
    word-wrap: break-word;
    
}

@media screen and (max-width: 768px) {
    
    textarea{
        resize: none;
        width: 280px;
        margin-bottom: 20px;
    }   
    div img{
        height: 200px;
        width: 180px;
        border-radius: 3px;
        align-self: center;
    }       
    .c-c{
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}
@media screen and (max-width: 350px) {
    
    textarea{
        resize: none;
        width: auto;
        margin-bottom: 20px;
    }   
}